body{
    margin: 0;
    padding: 0;
} 

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerBetween {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f9f9f9;
    padding: 15px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark .headerBetween {
    background-color: #1e1e1e; 
    box-shadow: 0 2px 5px rgba(255,255,255,0.1);
}  

